
.wrapper{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 10px;
    /* grid-auto-rows: 100px; */
    grid-auto-rows: minmax(100px, auto);

}

.nested{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #f0f8ff;
}

.nested>div{
    background: #9e9a9a;
    padding: 1em;
    color:#e7dbdb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border:1px #fff solid;
    margin:4px 4px;
}

.wrapper > div{
    background: #9e9a9a;
    padding: 1em;
    color:#e7dbdb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapper>div:nth-last-child(odd){
    background: #837474;
}