
@import url('https://fonts.googleapis.com/css2?family=Convergence&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #dedede;
  font-family: "Convergence", sans-serif;
  padding:50px 0;
}

main {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border:1px solid black;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="number"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 3px solid #ccc;
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

button.submit-add-product {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.submit-add-product:hover {
  background-color: #45a049;
}
